.wrapper {
  height: 500px;
  width: 500px;
  position: relative;
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  overflow: hidden;
}

.snapButton {
  left: 50%;
  transform: translate(-50%);
}

.imageCanvas {
  height: 320px;
  width: 320px;
}
